<template>
    <div>
        <nav class="flex item-right justify-space-between flex-wrap bg-indigo-light  h-16">
            <div class="w-1/5 bg-backdiv-secondary"></div>
           
            <button class="hover:bg-btnhover-btnfocus focus:outline-none focus:box-border focus:rounded  focus:border-1 w-22 px-6  ">First</button>
           <button class="hover:bg-btnhover-btnfocus focus:outline-none focus:box-border focus:rounded  focus:border-1 w-22 px-6 ">Second</button>
           <button class="hover:bg-btnhover-btnfocus  focus:bg-btnhover-btnfocus focus:outline-none "><img class="object-contain h-6 w-8 mx-6" @click.prevent="changeTheme" src="~assets/images/iconfinder_dark-mode_7148715.png" /></button>
            
           
        </nav>
    </div>
</template>
<script>
export default {
    data(){
        return {
        }
    },
    methods: {
        changeTheme()
        {
            this.$nuxt.$emit('changeTheme')
        }

    }
}
</script>