@tailwind base;

@tailwind components;

@tailwind utilities;

.theme-light
{
    --bg-backdiv-primary: white;
    --bg-backdiv-secondary: #F1AD01;
    --bg-backdiv-turnary: #9ca3af;
    --light: white;
    --txtlight: #4b5563;
    --btnfocus: #6b7280;
    
}

.theme-dark
{
    --bg-backdiv-primary: #0D2438;
    --bg-backdiv-secondary: #102C44;
    --bg-backdiv-turnary: #1E3951;
    --light: #393F4D;
    --txtlight: #4b5563;
    --btnfocus: #6B7280;
}