<template>
  <div class="bg-backdiv-secondary py-20" :class="theme">
    <div class="shadow  mx-auto  w-4/5 h-2/5">
    <TheHeader />
    <Nuxt />
    </div>
  </div>
</template>
<script>
export default {
  data(){
        return {
            theme: 'theme-light'
        }
    },
  created () {
  this.$nuxt.$on('changeTheme', () => {
    this.theme = this.theme === 'theme-light' ? 'theme-dark' : 'theme-light'
  })
}
}
</script>
<style>

</style>
