<template>
<div class="h-screen w-full" style="background: linear-gradient(to right, #F1AD01 20% , white 10%);">

<div class="relative w-4/5 h-96 mx-32 bg-white grid grid-cols-2">
  <div class="grid grid-rows-2">
 <img class="w-80 h-80" :src="backgroundImagePath" alt="">
 <div class="bg-black h-20 w-80"></div>
  </div>
  <div>
    <p>jbjjhhjdgjhhjdsf</p>
     <p>jbjjhhjdgjhhjdsfhghjghjgjhhhjkhhjk</p>
      <p>jbjjhhjdgjhhjdsfjhhjfhjfkjekjkefehjhfejhjhfjhefjhewjhkwjehkjjkfhkfhkjhfjhdfjhdjhkjdshkdkjdhjsh</p>
  </div>
</div>
  
</div>

</template>

<script>
import backgroundImagePath from '~/assets/images/mitchell-luo-YEoaIHbwysE-unsplash.jpg'
export default {
  data(){
    return{
      backgroundImagePath
    }
  }
}
</script>

<style>

</style>
